{% extends "index.html" %}
{% block main_content %}
<script src="/static/js/highcharts.js"></script>
<div class="container">
  <div class="col-md-8">
		<div class="panel panel-default panel-mese2014">
			<div class="panel-heading">
				<h4>
					股票<span class="pull-right"><small><a href="/stocks/">更多...</a></small></span>
				</h4>
			</div>
		</div>
		<table class="table">
			<tbody id="stockBody">
			
			</tbody>
		</table>	
		<div class="panel panel-default panel-mese2014">
			<div class="panel-heading">
				<h4>
					基金<span class="pull-right"><small><a href="/funds/">更多...</a></small></span>
				</h4>
			</div>
		</div>
		<table class="table">
			<tbody id="fundBody">
			
			</tbody>
		</table>	
		<div class="panel panel-default panel-mese2014">
			<div class="panel-heading">
				<h4>
					债券<span class="pull-right"><small><a href="/bonds/">更多...</a></small></span>
				</h4>
			</div>
		</div>
		<table class="table">
			<tbody id="bondBody">
			
			</tbody>
		</table>	
	</div>
  <div class="col-md-4 hidden-sm hidden-xs" id="sidenav">
  {% include "side_nav.html" %}
  </div>
</div>
<script type="text/javascript">
$(function(){
	var arrs = ['stock', 'fund', 'bond'],
	temps = {
		stock: '<tr><th><a href="{url}">{display_name}</a></th><th>{current_price}</th></tr>',
		fund: '<tr><th><a href="{url}">{display_name}</a></th><th>{type}</th><th>{published}</th><th>{return_rate}%</th></tr>',
		bond: '<tr><th><a href="{url}">{display_name}</a></th><th>{published}</th><th>{return_rate}</th></tr>'
	},
	prcs = {
		stock: function(){},
		fund: function(data){
			data['type'] = (data['fund_type'] === 'open'?'开放式基金':'封闭式基金');
			data['published'] = data['published']?'已发布':'未发布';
		},
		bond: function(data){
			data['published'] = data['published']?'已发布':'未发布';
		}
	};
	for (var i=0;i<arrs.length;i++) {
		var type = arrs[i];
		(function(type){
			API.url(type+'s').get()
			.ok(function(data){
				var s = [];
				$(data.results).each(function(){
					prcs[type](this);
					s.push(temps[type].render(this));
				});
				$(s.join("")).appendTo($("#"+type+'Body'));
			});
		})(type);
	}
});
</script>
{% endblock %}
