{% extends "accounts/profile/base-profile.html" %}
{% block tabs %}
{{block.super}}
{% if is_self %}
<div class="tab-pane fade in" id="pb">
{% include "upload_cdn.html" %}
{% include "write.html" %}
</div>
{% endif %}
<div class="tab-pane fade in" id="mg">
	<ul class="nav nav-pills nav-utinfo" id="mgul">
		<li><a href="#mgca" data-toggle="pill">创建用户</a></li>
        <li><a href="#mgusr" data-toggle="pill">用户管理</a></li>
		<li><a href="#mgcs" data-toggle="pill">创建股票</a></li>
		<li><a href="/admin/futures/future/">期货管理</a></li>
		<li><a href="#mgtl" data-toggle="pill">其他管理</a></li>
	</ul>
	<div class="tab-content">
    <div class="tab-pane fade in" id="mgusr">
      <div class="col-sm-offset-3 col-sm-6">                
				<form class="mese" id="usrForm" not-clear>
          <select data-label="用户" name="account" id="userSelect"></select>
          <input type="text" name="money" data-label="资金" validator="required number min:0">
          <input type="submit" value="提交">
        </form>
      </div>
    </div>
		<div class="tab-pane fade in" id="mgcs">
			<form class="col-sm-offset-3 col-sm-6 mese" id="csForm" action="/api/stocks/">
				<input type="text" name="owner" data-label="发布者" validator="required maxlength:20">
				<input type="text" name="display_name" data-label="股票名" validator="required maxlength:20">
				<input type="text" name="current_price" data-label="初始价格" validator="required number gt:0">
				<input type="text" name="total_shares" data-label="股份数" validator="required number digits gt:0">
				<input type="text" data-label="代销商" name="proxy" validator="required maxlength:20">
				<input type="submit" value="创建股票">
			</form>
		</div>
		<div class="tab-pane fade in" id="mgca">
			<form class="col-sm-offset-3 col-sm-6 mese" action="/api/users/" id="caForm">
				<p>初始密码：12345</p>
				<input type="text" name="username" data-label="登录名" validator="required maxlength:20">
				<input type="text" data-label="用户名" name="display_name" validator="required maxlength:20">
				<select name="account_type" data-label="类型">
					<option value="government">政府</option>
					<option value="person">个人</option>
					<option value="fundcompany">基金公司</option>
					<option value="bank">银行</option>
					<option value="company">实业公司</option>
					<option value="media">媒体</option>
				</select>
				<input type="text" data-label="初始资金" name="assets" validator="number">
				<input type="submit" value="创建用户">
			</form>
		</div>
		<div class="tab-pane fade in" id="mgtl">
			<div class="panel panel-default panel-mese2014">
				<div class="panel-heading">
					<h4>系统时间</h4>
				</div>
			<div class="panel-body">
				<span id="timeline"></span>&nbsp;
				<button class="btn btn-mese2014-success btn-xs btn-mese2014" id="incrBtn">系统时间自增</button>
			</div>
			</div>
			<br>
			<div class="panel panel-default panel-mese2014">
				<div class="panel-body">
					<a href="/admin/futures/goods/" class="btn btn-xs btn-mese2014 btn-mese2014-success">现货管理</a>
				</div>
			</div>
			<div class="panel panel-default panel-mese2014">
				<div class="panel-heading">
					其他数据
				</div>
				<div class="panel-body">
					<form class="mese col-md-offset-2 col-md-8" id="infoForm" action="/api/info/" method="patch" not-clear>
						<input type="text" name="profit_rate" data-label="银行基准利率" validator="number gt:0 lt:100">
						<input type="text" name="inflation_rate" data-label="通货膨胀率" validation="number gt:0 lt:100">
						<input type="text" name="GDP" data-label="GDP" validation="number gt:0">
						<input type="submit" value="提交">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block sidebar %}
<div class="panel panel-default utinfo">
  <div class="panel-body">
    用户名：{{info.display_name}}<br>
  </div>
</div>
<ul class="nav nav-pills nav-stacked nav-utinfo">
  {{block.super}}
  {% if is_self %}
  <li><a href="#mg" data-toggle="pill"><i class="fa fa-2x fa-coffee"></i>管理</a></li>
  {% endif %}
  {% if is_self %}
  <li><a href="#pb" data-toggle="pill"><i class="fa fa-2x fa-pencil"></i>&nbsp;&nbsp;发布新闻</a></li>
	{% endif %}
</ul>
{% endblock %}
{% block extra_script %}
{{block.super}}
{% if is_self %}
<script type="text/javascript">
$("a[href=#mgusr]").one('show.bs.tab', function(){
  var select=$("#userSelect"), s=[], $form=$("#usrForm");
  $form.initForm({
        callback:function(data){
            tips("修改成功！");
            var $selected = select.find(':selected');
            $selected.data("assets", $form.find('input[name=money]').val());
        }
    });
  select.on('change',function(){
      var assets=select.find(':selected').data("assets");
      $form.attr('action','/api/users/'+select.val()+'/dec/');
      $form.find('input[name=money]').val(assets);
  });
  API.url('users').param('limit','300').param('fields', 'display_name,assets').get()
  .ok(function(data){
      $(data.results).each(function(i){
          if (this.username==='superuser'||this.profile.account_type==='media') return;
          this.i=i;
          s.push('<option value="{id}" data-assets="{profile.assets}">{profile.display_name}</option>'.render(this));
      });
      $(s.join("")).appendTo(select);
      select.trigger('change');
  });
});
$("a[href=#mgtl]").on('show.bs.tab', function(){
	function update(){
		API.url('timeline').get()
		.ok(function(data){
			$("#timeline").text("现在是：{year}年 第{quarter}季度".render(data));
		});
	}
	update();
	$("#incrBtn").click(function(){
		API.url('timeline').post()
		.paramError(function(){
			toastr.warning("禁止修改：还未满4小时！","",{timeOut:3000});
		})
		.ok(update);
	});
	var $infoForm = $("#infoForm");
	API.url('info').get()
	.ok(function(data){
		for (var key in data) {
			$infoForm.find('[name='+key+']').val(data[key]);
		}
	});
	$infoForm.initForm({
		callback: function(){
			tips("信息设置成功！");
		}
	});
});
$("a[href=#mg]").one('show.bs.tab', function(){
	$('#mgul> li > a:first').tab('show');
});
$("a[href=#mgca]").one('show.bs.tab', function(){
	$("#csForm").initForm({
		callback: function(data){
			tips("股票{display_name}创建成功！".render(data));
		}
	});
});
$("a[href=#mgca]").one('show.bs.tab', function(){
	$("#caForm").initForm({
		callback: function(data){
			tips("用户{profile.display_name}创建成功！".render(data));
		}
	});
});
</script>
{% endif %}
{% endblock %}
