<script src="//mese2014.sinaapp.com/static/js/jquery.js"></script>
<script src="//mese2014.sinaapp.com/static/js/jquery.validate.js" defer></script>
<script src="//mese2014.sinaapp.com/static/js/utils.js" defer></script>
<link href="//mese2014.sinaapp.com/static/css/bootstrap.css" rel="stylesheet" defer async="true"/>
<link href="//mese2014.sinaapp.com/static/css/font-awesome.min.css" rel="stylesheet" defer async="true"/> 
<script src="//mese2014.sinaapp.com/static/js/bootstrap.min.js"></script>
<link href="//mese2014.sinaapp.com/static/css/mese2014.css" rel="stylesheet" defer async="true"/>
<link href="//mese2014.sinaapp.com/static/css/toastr.min.css" rel="stylesheet" defer async="true"/>
<script src="//mese2014.sinaapp.com/static/js/toastr.min.js" defer></script>
<link href="//mese2014.sinaapp.com/static/css/jquery.datetimepicker.css" rel="stylesheet" defer async="true"/>
<script src="//mese2014.sinaapp.com/static/js/jquery.datetimepicker.js" defer></script>
<script src="//mese2014.sinaapp.com/static/js/jquery.maskedinput.min.js" defer></script>
