<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	 {% include "cdn.html" %}
	 <script src="/static/js/jquery.dynatable.js"></script>
	 <link href="/static/css/jquery.dynatable.css" type="text/css" />
	 {% block extra_head %}{% endblock %}
</script>
  </head>
  <body style="height:100%">
    <nav class="mese-header" role="navigation">
	  <div class="navbar-inner">
	    <div class="container">
               <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mese-navbar-collapse">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
		      </button>
			<a class="navbar-brand" href="#">Mese2014</a>
               </div>
		  <div class="collapse navbar-collapse" id="mese-navbar-collapse" style="height :50px;">
	        <ul class="nav">
		      <li><a href="/">首页</a></li>
		      <li><a href="/securities/">交易大厅</a></li>
					<li><a href="/accounts/companies/">企业信息</a></li>
		      <li><a href="/webboard/passages/?type=">新闻中心</a></li>
		      {% if user.is_authenticated %}
		      <li><a href="/accounts/profile/">{{user.profile.info.display_name}}</a>
		      <li><a href="/accounts/logout/">退出登录</a></li>		      
		      {% else %}
		      <li><a href="/accounts/login/">登录</a></li>
		      {% endif %}
		    </ul>
	      </div>
		</div>
	  </div>
	</nav>
    {% block main_content %}
	<section class="container">
      
    </section>
    <main class="container">
    <div class="col-sm-4" >
      <div class="row" id="mGOV">
        <div class="panel panel-default panel-mese2014">
          <div class="panel-heading"><a href="/webboard/passages/?type=GOV">政府信息</a></div>
            <ul class="list-group" id="GOV_container">
    			  <script>
                      API.list({
                          apiUrl: API.url("passages").param("type","GOV"),
                          container: "GOV_container",
                          template: "<li class='list-group-item'><a href='{url}'>{title}</a><span class='pull-right'>{created_time}</span></li>"
                      })
                </script>
  			  </ul>
        </div>
      </div>
      <div class="row" id="mMED">
          <div class="panel panel-default panel-mese2014">
            <div class="panel-heading"><a href="/webboard/passages/?type=MED">新闻媒体</a></div>
              <ul class="list-group" id="MED_container">
                  <script>
                      API.list({
                          apiUrl: API.url("passages").param("type","MED"),
                          container: "MED_container",
                          template: "<li class='list-group-item'><a href='{url}'>{title}</a><span class='pull-right'>{created_time}</span></li>"
                      })
                </script>
  			     </ul>
          </div>
     </div>
   </div>
      <div class="col-sm-8">
        <div class="row" id="mSTO">
          <div class="panel panel-default panel-mese2014" style="border-bottom:0px;">
            <div class="panel-heading">
              期货板块
            </div>
          </div>
          <table class="table">
            <thead>
              <th>名称</th>
              <th>价格</th>
            </thead>
            <tbody id="FUR_container">
              <script>
                  API.list({
                      apiUrl:API.url("futures"),
                      container:"FUR_container",
                      template:"<tr><th>{display_name}</th><th>{current_price}</th></tr>"
                  })
              </script>
            </tbody>
          </table>
        </div>
        <div class="row" id="mSTO">
          <div class="panel panel-default panel-mese2014" style="border-bottom:0px;">
            <div class="panel-heading"><a href="/securities/">
              现货板块</a>
            </div>
          </div>
          <table class="table">
            <thead>
              <th>名称</th>
              <th>价格</th>
            </thead>
            <tbody id="GOD_container">
              <script>
                  API.list({
                      apiUrl:API.url("goods"),
                      container:"GOD_container",
                      template:"<tr><th>{display_name}</th><th>{current_price}</th></tr>"
                  })
              </script>
            </tbody>
          </table>
        </div>
        <div class="row" id="mSTO">
          <div class="panel panel-default panel-mese2014" style="border-bottom:0px;">
            <div class="panel-heading"><a href="/securities/">
              股票板块</a>
            </div>
          </div>
          <table class="table">
            <thead>
              <th>名称</th>
              <th>价格</th>
              <th></th>
            </thead>
              <tbody id="STO_container">
                  
              <script>
                  API.list({
                      apiUrl:API.url("stocks"),
                      container:"STO_container",
                      template:"<tr><th>{display_name}</th><th>{current_price}</th><th><a href='{url}'>详情</a></th></tr>"
                  })
              </script>
              </tbody>
          </table>
        </div>
      </div>
    </main>
    <script>
	  $(document).ready(function() {
	    $('#mese-navbar-collapse').collapse('show');
	  })
	</script>
    {% endblock %}
		<script>
			$(function(){
				var logined;
				{% if user.is_authenticated %} logined = true; {% endif %}
				$("form").submit(function(e){
					e.preventDefault();
					return false;
				});
				function time(first){
					var api = API.url("notifications");
					if (!first){api = api.param('now','a')}
					api.get().ok(function(data){
						$(data.results).each(function(){	
							var $msg = [this.message];
							if (this.url)
							$msg.push("<br><a url='{url}' href='javascript:void(0);' class='detail'>详情</a>".render(this));
							$msg.push("&nbsp;<a href='javascript:void(0);' id='{id}' class='confirm'>确认</a>".render(this))
							console.log($msg);
							toastr.info($msg.join(""), "系统消息")
							.click(function(){
								$(this).hide();
							})
							.find('a.confirm').click(function(){
								API.url("notifications").id($(this).attr("id")).url("confirm").get(function(){
									$(this).parent().parent().hide();
								});
							})
							.parent().find('a.detail').click(function(){
								var that = $(this);
								API.url("notifications").id(that.attr("id")).url("confirm").get(function(){
									window.loction.href = that.attr('url');
								});
							});
						});
					});
				}
				toastr.options.timeOut = 0;
				toastr.options.tapToDismiss = false;
				toastr.options.onhover = false;
				if (logined){
				time(true);
				setTimeout(function(){
					time();
					var timeId = setTimeout(arguments.callee, 30000);
				}, 30000);
				}
			});
		</script>
   {% block extra_script %}{%endblock%}
  </body>
</html>
