<!DOCTYPE HTML>
<html>
	<head>
	<script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.ui.widget.js"></script>
	<script src="/static/js/jquery.iframe-transport.js"></script>
	<script src="/static/js/jquery.fileupload.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/jquery.fileupload.css" rel="stylesheet">
		<style type="text/css">
			.red {
				background-color:red;
			}
		</style>
	</head>
	<body>
	    <form id="uploadForm" role="form">
		<div class="fileinput-button btn">
  		<span>添加附件...</span>
  		<input type="file" name="file" id="file" />
		</div>
		</form>
			    <form id="uploadForm2" role="form">
		<div class="fileinput-button btn">
  		<span>添加附件22222...</span>
  		<input type="file" name="file" id="file" />
		</div>
		</form>
		<script>
				$("#uploadForm").fileupload({
			url: "/api/files/public/",
			iframe: true,
			autoUpload: true,
			dataType: 'json',
			formAcceptCharset: "unicode",
			done: function (e, xhr) {
				//editor.insertHtml(insertAttachment(xhr.result));
				alert('ok');
			},
			progressall: function(e, data) {
				var p=parseInt(data.loaded / data.total * 100, 10);
				console.log(p);
			}
		});
						$("#uploadForm2").fileupload({
			url: "/api/files/public/",
			iframe: true,
			autoUpload: true,
			dataType: 'json',
			formAcceptCharset: "unicode",
			done: function (e, xhr) {
				//editor.insertHtml(insertAttachment(xhr.result));
				alert('ok');
			},
			progressall: function(e, data) {
				var p=parseInt(data.loaded / data.total * 100, 10);
				console.log(p);
			}
		});
		</script>
	</body>
</html>
