{% extends "securities/stocks/detail.html" %}

{% block tab_content %}
<div class="tab-pane fade in active" id="main">
<div class="col-md-6 col-md-offset-3">
	<form role="form" id="opForm" class="horizontal-form">
		<div class="form-group">
			<label class="col-sm-3 form-label" for="opPrice">价格</label>
			<div class="col-sm-9">
				<input id="opPrice" type="text" name="price" value="{{application.price}}" class="form-control form-login">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 form-label" for="opShares">股份数</label>
			<div class="col-sm-9">
				<input id="opShares" type="text" name="shares" class="form-control form-login" value="{{application.shares}}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 form-label" for="opType">类型</label>
			<div class="col-sm-9">
				<span id="opType">{% if application.type == "SELL" %}卖出{% else %}买入{% endif %}</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<input type="submit" name="sell" class="btn btn-login" value="提交">					
			</div>
		</div>
	</form>
</div>
</div>
{% endblock %}

{% block sidebar_menu %}

{% endblock %}
{% block extra_script %}

<script type="text/javascript">
$(function(){
	var $form = $("#opForm"), id="{{uid}}";
	$form.validate({
		rules: {
			price: {
				required: true,
				number: true,
				min:0
			},
			shares: {
				required: true,
				number: true,
				digits: true
			}
		}
	});
	$form.submit(function(e){
		e.preventDefault();
		$form.validate();
		if (!$form.valid()) return false;
		API.url("stocks").url("applications").id(id).patch($form.serializeObject())
		.ok(function(data){
			console.log(data);
		});
	});
});
</script>
{% endblock %}